<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="./assets/dashboard">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>
<body>
<div class="container-fluid">
  <div class="row top-actions text-center">
    <div class="col-3 notify">
      <img src="./assets/notification" alt="Notification" class="notification trigger-popup ">
    </div>
    <div class="col-3">
      <div class="search">
        <input type="text" class="form-control"  aria-label="What are you up to?" aria-describedby="basic-addon2">
        <h6 class="trigger-popup">Search</h6>
      </div>
    </div>
    <div class="col-3">
      <h6 class="trigger-popup">Matches</h6>
    </div>
  </div>
</div>

 <div class="container-fluid ">
  <div class="row">
    <!-- Sidebar -->
    <div class="sidebar" id="sidebar">
      <a  class="trigger-popup">Porn Pics</a>
      <a class="trigger-popup">Feed</a>
      <a class="trigger-popup">Search</a>
      <a class="trigger-popup">Matches</a>
      <a class="trigger-popup">Premium Upgrade</a>
      <a class="trigger-popup">Live Cams</a>
      <a class="trigger-popup">Cam Show Girls</a>
      <a class="trigger-popup">Live Sex</a>
      <a class="trigger-popup">VR Porn</a>
      <a class="trigger-popup">Adult Game</a>
      <a class="trigger-popup">Video Chat</a>
      <a class="trigger-popup">Messages</a>
    </div>

    <!-- Main content area -->
    <div class="col-md-9 offset-md-3">
      <button class="btn btn-dark d-md-none mb-3 sidebar-toggle-btn" type="button" onclick="toggleSidebar()">More Features</button>
      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <span class="fas fa-user trigger-popup"></span>
            <span class="trigger-popup">Status</span>
          </div>
          <!-- Photo icon and label -->
          <div class="col-4">
            <span class="fas fa-camera trigger-popup"></span>
            <span class="trigger-popup">Photo</span>
          </div>      
          <!-- Blog post icon and label -->
          <div class="col-4">
            <span class="fas fa-file-alt"></span>
            <span class="trigger-popup">Blog Post</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9">
            <div class="input-group mb-3">
              <!-- Input box with placeholder and smile icon -->
              <input type="text" class="form-control" placeholder="What are you up to?" aria-label="What are you up to?" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="far fa-smile"></i></span>
              </div>            
              <!-- Submit button with down arrow icon -->
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><i class="fas fa-arrow-down trigger-popup"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row mt-3">
          <!-- Star icon and label -->
          <div class="col-4">
            <span class="fas fa-star"></span>
            <span class="trigger-popup">Popular</span>
          </div>
           <!-- Friends icon and label -->
          <div class="col-4">
            <span class="fas fa-users"></span>
            <span class="trigger-popup">Friends</span>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
        <!-- Main content area -->
          <div class="col-lg-9">
        <!-- Post form -->
        <div class="card mb-3">
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" placeholder="What's on your mind?"></textarea>
              </div>
              <button type="button" class="btn btn-danger trigger-popup">Post</button>
            </form>
          </div>
        </div>

        <!-- My post -->
        <div class="card add-post">
          <div class="card-body">
            <h5 class="card-title">Post Title</h5>
            <p class="card-text">Post content goes here.</p>
          </div>
        </div>
      </div>

      <!-- Sample post 1 -->
      <div class="col-lg-9 sample-post">
        <div class="media mb-3">
        <%= image_tag "d3.jpg", class: "img-fluid mr-3 rounded-circle", alt: "User Profile Image" %>
          <div class="media-body">
            <h5 class="mt-0">Tania Denver</h5>
            <!-- Post image -->
            <div class="post-added">
            <%= image_tag "d4.jpg", class: "img-fluid", alt: "Post Image" %>
            </div>
            <!-- Like and comment section -->
            <div class="like-comment-section">
              <!-- Like count and like button in the same row -->
              <div class="d-flex align-items-center mb-2">
                <!-- Like count -->
                <div class="like-count mr-3">
                  <i class="fas fa-heart"></i> 23
                </div>
                <!-- Like button -->
                <button type="button" class="trigger-popup btn btn-outline-primary btn-sm"><i class="fas fa-heart"></i> Like</button>
                <button type="button" class="trigger-popup btn btn-danger btn-sm ml-2">Live</button>
              </div>
              <!-- Comment input box -->
              <div class="input-group mt-2">
                <input type="text" class="form-control" placeholder="Write a comment" aria-label="Write a comment" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary trigger-popup" type="button" id="button-addon2">Comment</button>
                </div>
              </div>
              <!-- Sample comment -->
              <div class="media mt-3 sample-comment">
                <img src="https://img.freepik.com/free-photo/emotional-young-male-with-blue-shirt-standing-gate-with-slight-smile-his-face_181624-27994.jpg?size=626&ext=jpg&ga=GA1.1.1991735360.1711673144&semt=ais" class="mr-3 rounded-circle" alt="Sample User Avatar">
                <h6 class="mt-0">Spp3boy</h6>
                <div class="media-body add-comment">
                  <p>Hey lovely</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 sample-post">
        <div class="media mb-3">
          <%= image_tag "d1.jpg", class: "img-fluid mr-3 rounded-circle", alt: "User Profile Image" %>
          <div class="media-body">
            <h5 class="mt-0">Tania Denver</h5>
            <!-- Post image -->
            <div class="post-added">
            <%= image_tag "d2.jpg", class: "img-fluid", alt: "Post Image" %>
            </div>
            <!-- Like and comment section -->
            <div class="like-comment-section">
              <!-- Like count and like button in the same row -->
              <div class="d-flex align-items-center mb-2">
                <!-- Like count -->
                <div class="like-count mr-3">
                  <i class="fas fa-heart"></i> 23
                </div>
                <!-- Like button -->
                <button type="button" class="trigger-popup btn btn-outline-primary btn-sm"><i class="fas fa-heart"></i> Like</button>
                <button type="button" class="trigger-popup btn btn-danger btn-sm ml-2">Live</button>
              </div>
              <!-- Comment input box -->
              <div class="input-group mt-2">
                <input type="text" class="form-control" placeholder="Write a comment" aria-label="Write a comment" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary trigger-popup" type="button" id="button-addon2">Comment</button>
                </div>
              </div>
              <!-- Sample comment -->
              <div class="media mt-3 sample-comment">
                <img src="https://img.freepik.com/free-photo/emotional-young-male-with-blue-shirt-standing-gate-with-slight-smile-his-face_181624-27994.jpg?size=626&ext=jpg&ga=GA1.1.1991735360.1711673144&semt=ais" class="mr-3 rounded-circle" alt="Sample User Avatar">
                <h6 class="mt-0">Spp3boy</h6>
                <div class="media-body add-comment">
                  <p>Hey lovely</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!-- Add more sample posts as needed -->
    <div class="col-lg-9">
      <div class="mb-3 row">
        <div class="col text-center">
          <h3>More Posts</h3>
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col text-center">
          <i class="trigger-popup fas fa-arrow-down"></i>
        </div>
      </div>
    </div>

  

    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- Popup Container -->
<div id="popup-wrapper">
<div id="popupContainer" class="popup-container">
<div class="container-fluid my-3 py-30">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <h2 id="heading2">Unlock all features with $0.99 only:</h2>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <button class="btn btn-primary subscribe">Pay Now</button>
        <button class="btn btn-secondary" onclick="hidePopup()">Cancel</button>
      </div>
    </div>
  </div>
</div>
</div>
<div class="sidebar-right">
  <div class="container-fluid">
    <!-- Main content area -->
    <div class="gallery" style="display: flex; flex-direction: column;">
      <div class="gallery-item">
        <%= image_tag "n13.jpg", class: "img-fluid", alt: "Image" %>
        <div class="subscript trigger-popup">Connect me</div>
      </div>
      <div class="gallery-item">
      <%= image_tag "n14.jpg", class: "img-fluid", alt: "Image" %>
        <div class="subscript trigger-popup">Connect me</div>
      </div>
      <div class="gallery-item">
      <%= image_tag "n15.jpg", class: "img-fluid", alt: "Image" %>
        <div class="subscript trigger-popup">Connect me</div>
      </div>
      <div class="gallery-item">
      <%= image_tag "n16.jpg", class: "img-fluid", alt: "Image" %>
        <div class="subscript trigger-popup">Connect me</div>
      </div>
      <!-- Add more gallery items as needed -->
    </div>
  </div>
</div>
</div>
</div>

</div>


<div id="userPopup1" class="userPopup container d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="user mt-2 text-center">
            <div class="profile">
            <%= image_tag "n12.jpg", class: "img-fluid rounded-circle", alt: "Post Image", width: "80" %>
            </div>
        </div>
        <div class="mt-2 text-center">
            <h5 class="mb-0">Benjamin Tims</h5>
            <span class="text-muted d-block mb-2">9 miles away</span>
            <button class="trigger-popup btn btn-danger btn-sm follow">Follow</button>
            <div class="stats">
              <p class="mb-0">Followers:<span>47</span></p>
              <p class="mb-0">Status:<span>Online</span></p> 
            </div>
        </div>
        <div class="mt-2 text-center">
          <span class="text-message text-muted d-block mb-2">Hi Honey!</span>
          <div class="message-input">
            <input type="text" class="form-control" placeholder="Write your text">
            <button class="trigger-popup btn btn-sm send">Send</button>
          </div>      
        </div>
    </div>
</div>
<div id="userPopup2" class="userPopup container d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="user mt-2 text-center">
            <div class="profile">
            <%= image_tag "n12.jpg", class: "img-fluid rounded-circle", alt: "Post Image", width: "80" %>
            </div>
        </div>
        <div class="mt-2 text-center">
            <h5 class="mb-0">Benjamin Tims</h5>
            <span class="text-muted d-block mb-2">9 miles away</span>
            <button class="trigger-popup btn btn-danger btn-sm follow">Follow</button>
            <div class="stats">
              <p class="mb-0">Followers:<span>47</span></p>
              <p class="mb-0">Status:<span>Online</span></p> 
            </div>
        </div>
        <div class="mt-2 text-center">
          <span class="text-message text-muted d-block mb-2">Hi Honey!</span>
          <div class="message-input">
            <input type="text" class="form-control" placeholder="Write your text">
            <button class="trigger-popup btn btn-sm send">Send</button>
          </div>      
        </div>
    </div>
</div>
<script>
function toggleSidebar() {
  document.getElementById('sidebar').classList.toggle('show');
}

document.body.addEventListener('click', function(e) {
  if (e.target.classList.contains("subscribe")) {
    window.location.href = "./infos/new";
  }
});

  // Define showPopup function in the global scope
  function showPopup() {
    let popupContainer = document.getElementById("popupContainer");
    popupContainer.style.display = "block";
  }
  // Function to hide the popup
  function hidePopup() {
    let popupContainer = document.getElementById("popupContainer");
    popupContainer.style.display = "none";
  }

  document.body.addEventListener('click', function(e) {
    if (e.target.classList.contains("trigger-popup")) {
      showPopup();
    }
  });

  document.addEventListener("DOMContentLoaded", function() {
    let triggerElement = document.querySelector('.trigger-popup');
    let popupContainer = document.getElementById("popupContainer");

    // Event listener to hide the popup when clicking outside the popup content
    popupContainer.addEventListener("click", function(event) {
      if (event.target === popupContainer) {
        hidePopup();
      }
    });
  });

  // USER POPUP

  // Function to show the popup
  function showUserPopup1() {
      var userPopup1 = document.getElementById('userPopup1');
      userPopup1.style.bottom  = '0rem';
      userPopup1.style.right  = '0.5rem';
  }

  function showUserPopup2() {
      var userPopup2 = document.getElementById('userPopup2');
      userPopup2.style.bottom  = '0rem';
      userPopup2.style.right  = '15.5rem';
  }

  // Function to hide the popup
  function hideUserPopup1() {
      var userPopup1 = document.getElementById('userPopup1');
      userPopup1.style.bottom = '-100rem';
  }

  function hideUserPopup2() {
      var userPopup2 = document.getElementById('userPopup2');
      userPopup2.style.bottom = '-100rem';
  }

  // Show the user-popup initially
  showUserPopup1();
  showUserPopup2();

  // Schedule showing and hiding of the popup
  setInterval(function() {
      hideUserPopup1(); // Hide the popup
      setTimeout(function() {
          showUserPopup1(); // Show the popup after hiding
      }, 4000); // Change 2000 to desired milliseconds for the interval
  }, 10000); // Change 5000 to desired milliseconds for the total interval

  setInterval(function() {
      hideUserPopup2(); // Hide the popup
      setTimeout(function() {
          showUserPopup2(); // Show the popup after hiding
      }, 3000); // Change 2000 to desired milliseconds for the interval
  }, 8000); // Change 5000 to desired milliseconds for the total interval


</script>

</body>
</html>
