<html>
<head>
  <title>Popup Page</title>
  <link rel="stylesheet" type="text/css" href="./assets/popup.css">
</head>
<body>
  <section class="section home-5-bg">
    <div id="particles-js"></div>
    <div class="bg-overlay"></div>
    <div class="home-center">
      <div class="home-desc-center" id="banner">
        <div class="container">
          <div class="justify-content-center row">
            <div class="col-lg-7">
              <div class="mt-40 text-center home-5-content">
                <h1 class="text-copy text-white font-weight-normal home-5-title mb-0">Free Adult Dating Service &amp; Sex Personals</h1>
                <p class="text-white-70 mt-4 f-15 mb-0"> Meet local adults for no strings attached dating on the web's only member-voted online adult dating service.
                100% FREE Dating Service, Free Photo Personals, Chat, Messaging & More</p>
                <div class="mt-5">
                  <button class="goToHomeButton btn btn-danger" type="button">Join if you are 18+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image-container-wrapper">
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-3">  
            <div class="image-container">
              <%= image_tag "https://cdni.bestpornpictures.com/1280/1/288/58203605/58203605_004_8f91.jpg", class: "img-fluid", alt: "Image 1" %>
              <div class="image-caption">
                <span class="badge">
                  <h6 class="name">Achal</h6>
                  <h6 class="status">ONLINE</h6>
                </span>
                <p>Hi, I am Achal. I am 27 years old. I am looking.. <a href="#">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">  
            <div class="image-container">
              <%= image_tag "https://cdn.pixabay.com/animation/2022/10/25/21/32/21-32-21-8_256.gif", class: "img-fluid", alt: "Image 1" %>
              <div class="image-caption">
                <span class="badge">
                  <h6 class="name">***</h6>
                  <h6 class="status">ONLINE</h6>
                </span>
                <p>Hi, I am ** . I am looking.. <a href="#">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">  
            <div class="image-container">
              <%= image_tag "https://px.hdpornpics.xxx/thumbs/extra_thumb/182/797_sucking-getting-stepbro.webp", class: "img-fluid", alt: "Image 1" %>
              <div class="image-caption">
                <span class="badge">
                  <h6 class="name">Achal</h6>
                  <h6 class="status">ONLINE</h6>
                </span>
                <p>Hi, I am Achal. I am 27 years old. I am looking.. <a href="#">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">  
            <div class="image-container">
              <%= image_tag "https://th.bing.com/th?id=OIP.fgX3fkEe2uDZnwnNt9HOrgAAAA&w=212&h=293&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2", class: "img-fluid", alt: "Image 1" %>
              <div class="image-caption">
                <span class="badge">
                  <h6 class="name">Achal</h6>
                  <h6 class="status">ONLINE</h6>
                </span>
                <p>Hi, I am Achal. I am 27 years old. I am looking.. <a href="#">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">  
            <div class="image-container">
              <%= image_tag "https://cdn.pixabay.com/photo/2018/03/31/08/23/girl-3277529_1280.jpg", class: "img-fluid", alt: "Image 2" %>
              <div class="image-caption">
                <span class="badge">
                  <h6 class="name">Ema</h6>
                  <h6 class="status">ONLINE</h6>
                </span>
                <p>Hi! I am Ema. I am lonely & looking for.. <a href="#">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">  
            <div class="image-container">
              <%= image_tag "https://cdn.pixabay.com/animation/2023/08/14/11/14/11-14-02-376_512.gif", class: "img-fluid", alt: "Image 3" %>
              <div class="image-caption">
                <span class="badge">
                  <h6 class="name">Kittie</h6>
                  <h6 class="status">ONLINE</h6>
                </span>
                <p>Hi! You are welcome to  join my show and.. <a href="#">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">  
            <div class="image-container">
              <%= image_tag "https://t1.pictoa.com/media/galleries/112/128/11212858c745c5477e4/255090858c745c573a5c.jpg", class: "img-fluid", alt: "Image 4" %>
              <div class="image-caption">
                <span class="badge">
                  <h6 class="name">Nilima</h6>
                  <h6 class="status">ONLINE</h6>
                </span>
                <p>Hi! I am Nilima. I want your attention when .. <a href="#">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">  
            <div class="image-container">
              <%= image_tag "https://as2.ftcdn.net/v2/jpg/03/29/74/79/1000_F_329747974_jgPU684nLNgJtOXpeHRUakQH4wD0P6xz.jpg", class: "img-fluid", alt: "Image 4" %>
              <div class="image-caption">
                <span class="badge">
                  <h6 class="name">Nikita</h6>
                  <h6 class="status">ONLINE</h6>
                </span>
                <p>Hi! I am Nikita. I want your attention when .. <a href="#">Read More</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container container-fluid action-container">
        <div class="flex-r">
          <span class="flex-c action">
            <h2>MOBILE READY. ARE YOU ON THE RUN?</h2>
            <p>Enjoy the full BBW experience for mobile. With our handcrafted responsive website you have full access to all features no matter where you are. Desktop, tablet or mobile - Size doesn't matter after all.</p>
            <button class="goToHomeButton btn btn-danger" type="button">Join if you are 18+</button>
          </span>
          <div class="action-img">
            <%= image_tag "https://www.bing.com/th?id=OIP.MkhUoHNLcXwgnQ4Iy0uJkAHaE8&w=139&h=100&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2", class:"rounded-circle" %>          </div>
        </div>
      <div class="container footer">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p class="mt-5 text-white-70 f-15">© 2023 Free Adult Dating Service. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.body.addEventListener("click", function(event) {
    if (event.target.classList.contains("goToHomeButton")) {
      window.location.href = "./sign_up";
    }
  });
</script>
</body>
</html>
