<html>
<head>
  <title>POFXS</title>
  <link rel="stylesheet" type="text/css" href="./assets/popup.css">
</head>
<body>
  <section class="section home-5-bg">
    <div id="particles-js"></div>
    <div class="bg-overlay"></div>
    <div class="home-center">
      <div class="home-desc-center" id="banner">
        <div class="container">
          <div class="justify-content-center row">
            <div class="col-lg-7">
              <div class="mt-40 text-center home-5-content landing-image-container">
                <h1 class="text-copy text-white font-weight-normal home-5-title mb-0">Free Adult Dating Service &amp; Sex Personals</h1>
                <p class="mt-4 f-15 mb-0"> Meet local adults for no strings attached dating on the web's only member-voted online adult dating service.
                100% FREE Dating Service, Free Photo Personals, Chat, Messaging & More</p>
                <div class="mt-5">
                  <button class="goToHomeButton btn btn-danger" type="button">Join if you are 18+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="image-container-wrapper">
        <div class="row">
          <div class="col-6 col-sm-6 col-md-4  col-lg-3">  
            <div class="image-container">
              <%= image_tag "10.jpg", class: "img-fluid", alt: "Image 1" %>
              <div class="image-caption">
                <span class="badge">
                  <h6 class="name">Daisy</h6>
                  <h6 class="status">ONLINE</h6>
                </span>
                <p>Hey I am Daisy. sweet, flirty & curvy in all the right places.. <a href="#">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4  col-lg-3">  
            <div class="image-container">
              <%= image_tag "11.jpg", class: "img-fluid", alt: "Image 1" %>
              <div class="image-caption">
                <span class="badge">
                  <h6 class="name">Katalyna</h6>
                  <h6 class="status">ONLINE</h6>
                </span>
                <p>A mature woman with a zest for life, that&apos;s me! At 48, I keep a slim and toned body and.. <a href="#">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4  col-lg-3">  
            <div class="image-container">
              <%= image_tag "2.jpg", class: "img-fluid", alt: "Image 1" %>
              <div class="image-caption">
                <span class="badge">
                  <h6 class="name">Maureen</h6>
                  <h6 class="status">ONLINE</h6>
                </span>
                <p>Hi, I am Maureen. I am 27 years old. I am looking.. <a href="#">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4  col-lg-3">  
            <div class="image-container">
              <%= image_tag "3.jpg", class: "img-fluid", alt: "Image 1" %>
              <div class="image-caption">
                <span class="badge">
                  <h6 class="name">Juliet</h6>
                  <h6 class="status">ONLINE</h6>
                </span>
                <p>Hello darling, wet baby available. Am a very beautiful, attractive... <a href="#">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4  col-lg-3">  
            <div class="image-container">
              <%= image_tag "4.jpg", class: "img-fluid", alt: "Image 2" %>
              <div class="image-caption">
                <span class="badge">
                  <h6 class="name">Ema</h6>
                  <h6 class="status">ONLINE</h6>
                </span>
                <p>Hi! I am Ema. I am lonely & looking for.. <a href="#">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4  col-lg-3">  
            <div class="image-container">
              <%= image_tag "5.jpg", class: "img-fluid", alt: "Image 3" %>
              <div class="image-caption">
                <span class="badge">
                  <h6 class="name">Kittie</h6>
                  <h6 class="status">ONLINE</h6>
                </span>
                <p>Hi! You are welcome to  join my show and.. <a href="#">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4  col-lg-3">  
            <div class="image-container">
              <%= image_tag "8.jpg", class: "img-fluid", alt: "Image 4" %>
              <div class="image-caption">
                <span class="badge">
                  <h6 class="name">Ainoha</h6>
                  <h6 class="status">ONLINE</h6>
                </span>
                <p>Hello honey, my name is Ainoha I&apos;m here new I am a very elegant.. <a href="#">Read More</a></p>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-4  col-lg-3">  
            <div class="image-container">
              <%= image_tag "6.jpg", class: "img-fluid", alt: "Image 4" %>
              <div class="image-caption">
                <span class="badge">
                  <h6 class="name">Milk Milk</h6>
                  <h6 class="status">ONLINE</h6>
                </span>
                <p>Hi dear, my name milk milk. I would like u guys come to enjoy and get fantastic sex .. <a href="#">Read More</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container container-fluid">
        <div class="flex-r action-container">
          <span class="flex-c action">
            <h4>MOBILE READY. ARE YOU ON THE RUN?</h4>
            <p>Enjoy the full HOOK UP experience for mobile. With our handcrafted responsive website you have full access to all features no matter where you are. Desktop, tablet or mobile - Size doesn't matter after all.</p>
            <button class="goToHomeButton btn btn-danger" type="button">Join Now</button>
          </span>
          <div class="action-img"/>
        </div>
      </div> 
    </div>
  </div>
</section>

<script>
  document.body.addEventListener("click", function(event) {
    if (event.target.classList.contains("goToHomeButton")) {
      window.location.href = "./sign_up";
    }
  });
</script>
</body>
</html>