<div id="<%= dom_id feedback %>">
  <p>
    <strong>First name:</strong>
    <%= feedback.First_Name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= feedback.Last_Name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= feedback.Email %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= feedback.Comment %>
  </p>

</div>
