<div id="<%= dom_id feedback %>">
  <p>
    <strong>First name:</strong>
    <%= feedback.First_Name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= feedback.Last_Name %>
  </p>

  <p>
    <strong>E-mail:</strong>
    <%= feedback.E-mail %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= feedback.Comment %>
  </p>

</div>
