<%= form_with(model: feedback) do |form| %>
  <% if feedback.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
        <% feedback.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :First_Name, style: "display: block" %>
    <%= form.text_field :First_Name %>
  </div>

  <div>
    <%= form.label :Last_Name, style: "display: block" %>
    <%= form.text_field :Last_Name %>
  </div>

  <div>
    <%= form.label :E-mail, style: "display: block" %>
    <%= form.text_field :E-mail %>
  </div>

  <div>
    <%= form.label :Comment, style: "display: block" %>
    <%= form.text_field :Comment %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
