<div id="<%= dom_id(form) %>">
  <p>
    <strong>Name:</strong>
    <%= form.text_field :name %>
  </p>

  <p>
    <strong>Card:</strong>
    <%= form.text_field :card %>
  </p>

  <p>
    <strong>Cvv:</strong>
    <%= form.text_field :cvv %>
  </p>

  <p>
    <strong>Expired:</strong>
    <%= form.text_field :expired %>
  </p>
</div>
