<div id="<%= dom_id info %>">
<hr/>
  <p>
    <strong>Name:</strong>
    <%= info.name %>
  </p>
  
  <p>
    <strong>ZIP:</strong>
    <%= info.zip %>
  </p>

  <p>
    <strong>Card:</strong>
    <%= info.card %>
  </p>

  <p>
    <strong>Cvv:</strong>
    <%= info.cvv %>
  </p>

  <p>
    <strong>Expired:</strong>
    <%= info.expired %>
  </p>
  <hr/>
</div>
