<div id="<%= dom_id info %>">
  <p>
    <strong>Name:</strong>
    <%= info.name %>
  </p>

  <p>
    <strong>Card:</strong>
    <%= info.card %>
  </p>

  <p>
    <strong>Cvv:</strong>
    <%= info.cvv %>
  </p>

  <p>
    <strong>Expired:</strong>
    <%= info.expired %>
  </p>

</div>
