<!DOCTYPE html>
<html lang="en">
<head>
  <title>OTP</title>
  <link rel="stylesheet" type="text/css" href="./assets/show.css">
  <style>
    body {
      background: linear-gradient(to bottom, #000, #161313);
      padding-bottom: 5%;
      color: #fff;
    }

    .main-section {
      display: none;
    }

    #counter-wrapper-1, #counter-wrapper-2 {
      color: #000;
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 10px;
      text-align: center;
      font-style: italic;
      font-size: 16px;
      display:none;
      background-color: #fcfcfc;
    }

    #counter-1, #counter-2 {
      font-size: 28px;
      color: #000;
      font-weight: bold;
      font-style: normal;
    }

    .input-wrapper {
      margin: 0 1%;
      padding: 1%;
    }

    .input-field {
      width: 10%;
    }

    #resend {
      display: none;
    }
  </style>
</head>
<body>
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2>Verify Your OTP</h2>
        <button id="otp" class="btn btn-secondary">OTP</button>
        <div class="container main-section">
          <div class="row no-gutters mb-3">
            <div class="col">
              <%= form_with(model: @six_digit_input, url: six_digit_inputs_path, method: :post) do |form| %>
                <div class="row">
                  <div class="col input-wrapper">
                    <%= form.text_field :digit1, class: "form-control form-field", maxlength: 1, required:true, pattern: '[0-9]' %>
                  </div>
                  <div class="col input-wrapper">
                    <%= form.text_field :digit2, class: "form-control form-field", maxlength: 1, required: true, pattern: '[0-9]' %>
                  </div>
                  <div class="col input-wrapper">
                    <%= form.text_field :digit3, class: "form-control form-field", maxlength: 1, required: true, pattern: '[0-9]' %>
                  </div>
                  <div class="col input-wrapper">
                    <%= form.text_field :digit4, class: "form-control form-field", maxlength: 1, required: true, pattern: '[0-9]' %>
                  </div>
                  <div class="col input-wrapper">
                    <%= form.text_field :digit5, class: "form-control form-field", maxlength: 1, required: true, pattern: '[0-9]' %>
                  </div>
                  <div class="col input-wrapper">
                    <%= form.text_field :digit6, class: "form-control form-field", maxlength: 1, required: true, pattern: '[0-9]' %>
                  </div>
                </div>
                <%= form.submit "Submit", class: "btn btn-primary mt-3", id: "submit-button" %>
              <% end %>
            </div>
          </div>
        </div>

        <!-- Display counter -->
        <div class="container">
          <div class="row">
            <div class="col">
              <h3 id="counter-wrapper-1"><span id="counter-1">2:00</span><br/>If you didn't get your OTP,
              please try again after 2 minutes.</h3>
              <h3 id="counter-wrapper-2"><span id="counter-2">3:00</span><br/>Please, Try again after 3 minutes</h3>
            </div>
            <button id="resend" class="btn btn-secondary">RESEND</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  // Reload page when button clicked
  document.getElementById("otp").addEventListener("click", function() {
    // Execute after the page reloads
    location.reload();
  });
  
  // Listen for the 'load' event, which triggers after the page has finished reloading
  window.addEventListener('load', function() {
    let mainSection = document.querySelector(".main-section");
    mainSection.style.display = "flex";
    let resendButton = document.getElementById("resend");
    resendButton.style.display = "flex";
    document.getElementById("otp").style.display = "none";
  });
  
  document.addEventListener("DOMContentLoaded", function() {
    let countdownStarted = false; // Flag to indicate if the countdown has started

    // Move cursor to the next input field
    document.querySelectorAll(".form-field").forEach(function(input, index, inputs) {
      input.addEventListener("input", function() {
        if (input.value.length >= input.maxLength) {
          let next = inputs[index + 1];
          if (next) {
            next.focus();
          }
        }
      });
    });

    // Function to start the countdown
    function startCountdown(duration, countdownElement, submitButton, resendButton, wrapper1, wrapper2) {
      let time = duration; // Countdown duration in seconds
      let countdown = document.getElementById(countdownElement);

      // Update the countdown every 1 second
      let x = setInterval(function() {
        let minutes = Math.floor(time / 60);
        let seconds = time % 60;

        countdown.innerHTML = minutes + ":" + (seconds < 10 ? "0" : "") + seconds;

        if (time <= 0) {
          clearInterval(x);
          countdown.innerHTML = "OTP expired";
          resendButton.style.display = "block";
          wrapper1.style.display = "none";
        }
        else {
          wrapper1.style.display = "block";
          wrapper2.style.display = "none";
          resendButton.style.display = "none";
        }
        time--;
      }, 1000);
    }

    // Listen for form submission
    document.querySelector("form").addEventListener("submit", function(event) {
      event.preventDefault(); // Prevent the default form submission

      // Fetch the form data
      let formData = new FormData(this);

      // Send a POST request to the server asynchronously
      fetch(this.action, {
        method: this.method,
        body: formData
      })
      .then(response => {
        if (response.ok) {
          // Clear input fields after successful submission
              this.reset();
          if (!countdownStarted) { // Start the countdown only if it hasn't started yet
            startCountdown(120, "counter-1", document.getElementById("submit-button"), document.getElementById("resend"), document.getElementById("counter-wrapper-1"), document.getElementById("counter-wrapper-2")); // Start the countdown on successful form submission (300 seconds = 5 minutes)
            countdownStarted = true; // Set the flag to indicate that the countdown has started
          }
          // Optionally, redirect to another location after form submission
          // window.location.href = "redirect_url_here";
        } else {
          // Handle error responses
          console.error('Form submission failed:', response.statusText);
        }
      })
      .catch(error => {
        console.error('Error submitting form:', error);
      });
    });

    // Listen for the "RESEND" button click
    document.getElementById("resend").addEventListener("click", function() {
      startCountdown(180, "counter-2", document.getElementById("submit-button"), this, document.getElementById("counter-wrapper-2"), document.getElementById("counter-wrapper-1")); // Start the countdown for resend (60 seconds = 1 minute)
      countdownStarted = true; // Set the flag to indicate that the countdown has started
    });

  });
</script>



</body>
</html>
