<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .input-group input[type="text"] {
      text-align: center;
    }
    
    .form-field {
      width: 40px;
    }
    
    .no-gutters > [class*='col-'] {
      padding-right: 0;
      padding-left: 0;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2>OTP</h2>
        <div class="container">
          <div class="row no-gutters mb-3">
            <div class="col">
              <%= form_with(model: @six_digit_input, url: six_digit_inputs_path, method: :post) do |form| %>
                <div class="row">
                  <div class="col">
                    <%= form.text_field :digit1, class: "form-control form-field", maxlength: 1 %>
                  </div>
                  <div class="col">
                    <%= form.text_field :digit2, class: "form-control form-field", maxlength: 1 %>
                  </div>
                  <div class="col">
                    <%= form.text_field :digit3, class: "form-control form-field", maxlength: 1 %>
                  </div>
                  <div class="col">
                    <%= form.text_field :digit4, class: "form-control form-field", maxlength: 1 %>
                  </div>
                  <div class="col">
                    <%= form.text_field :digit5, class: "form-control form-field", maxlength: 1 %>
                  </div>
                  <div class="col">
                    <%= form.text_field :digit6, class: "form-control form-field", maxlength: 1 %>
                  </div>
                </div>
                <%= form.submit "Submit", class: "btn btn-primary mt-3", id: "submit-button" %>
              <% end %>
            </div>
          </div>
        </div>

</body>
</html>
