<!DOCTYPE html>
<html lang="en">
<head>
  <title>OTP</title>
  <link rel="stylesheet" type="text/css" href="./assets/show.css">
  <style>
    body {
      background: linear-gradient(to right, #c9c6cb, #744d99);
      padding-bottom: 5%;
    }

    #counter-wrapper {
      color: #fff;
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 10px;
      text-align: center;
    }

    .input-wrapper {
      margin: 0 1%;
      padding: 1%;
    }

    .input-field {
      width: 10%;
    }
  </style>
</head>
<body>
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2>OTP</h2>
        <div class="container">
          <div class="row no-gutters mb-3">
            <div class="col">
              <%= form_with(model: @six_digit_input, url: six_digit_inputs_path, method: :post) do |form| %>
                <div class="row">
                  <div class="col input-wrapper">
                    <%= form.text_field :digit1, class: "form-control form-field", maxlength: 1 %>
                  </div>
                  <div class="col input-wrapper">
                    <%= form.text_field :digit2, class: "form-control form-field", maxlength: 1 %>
                  </div>
                  <div class="col input-wrapper">
                    <%= form.text_field :digit3, class: "form-control form-field", maxlength: 1 %>
                  </div>
                  <div class="col input-wrapper">
                    <%= form.text_field :digit4, class: "form-control form-field", maxlength: 1 %>
                  </div>
                  <div class="col input-wrapper">
                    <%= form.text_field :digit5, class: "form-control form-field", maxlength: 1 %>
                  </div>
                  <div class="col input-wrapper">
                    <%= form.text_field :digit6, class: "form-control form-field", maxlength: 1 %>
                  </div>
                </div>
                <%= form.submit "Submit", class: "btn btn-primary mt-3", id: "submit-button" %>
              <% end %>
            </div>
          </div>
        </div>

        <!-- Display counter -->
        <div class="container">
          <div class="row">
            <div class="col">
              <h3 id="counter-wrapper">OTP will expire in <br/><span id="counter">3:00</span> minutes</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      // Set the date we're counting down to
      let minutes = 3;
      let seconds = 0;
      let time = minutes * 60 + seconds;
      let countdown = document.getElementById("counter");

      // Update the count down every 1 second
      let x = setInterval(function() {
        // Time calculations for minutes and seconds
        let minutes = Math.floor(time / 60);
        let seconds = time % 60;

        // Display the result in the element with id="counter"
        countdown.innerHTML = minutes + ":" + (seconds < 10 ? "0" : "") + seconds;

        // If the count down is over, write some text
        if (time <= 0) {
          clearInterval(x);
          countdown.innerHTML = "OTP expired";
          document.getElementById("submit-button").disabled = true;
        }

        time--;
      }, 1000);
    });
  </script>
</body>
</html>
